<div class="row navigation">
    <div class="col-lg-4 col-xs-12">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <img class="segment-graphics" src="dist/img/orders.png" >
            <div class="segment-name">
                Orders
            </div>
            <a href="#" class="more-info-footer">More info <img class="right_arrow" src="dist/img/right_arrow.png"/> </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-12">
        <!-- small box -->
        <div class="small-box bg-green">
            <img class="segment-graphics" src="dist/img/payments.png" >
            <div class="segment-name">
                Payments
            </div>
            <a href="#" class="more-info-footer">More info <img class="right_arrow" src="dist/img/right_arrow.png"/> </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-12">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <img class="segment-graphics" src="dist/img/analytics.png">
            <div class="segment-name">
                Analytics
            </div>
            <a href="#" class="more-info-footer">More info <img class="right_arrow" src="dist/img/right_arrow.png"/> </a>
        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->
