<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="dist/img/avatar5.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><img src="dist/img/online.png" style="width:12px;height:12px;margin:-4px 0 0 6px"></img> Online</a>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
                <a href="#">
                    <img class="sidebar_menu_image" src="dist/img/orders.png"></img> <span>Orders</span>
                </a>
            </li>
            <li class="">
                <a href="#">
                    <img class="sidebar_menu_image" src="dist/img/payments.png"></img> <span>Payments</span>
                </a>
            </li>
            <li class="">
                <a href="#">
                    <img class="sidebar_menu_image" src="dist/img/analytics.png"></img> <span>Analytics</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
